@model List<Sklep__MVC_v3.Models.Product>


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2 class="text-center text-success">Products</h2>

<a href="/admin/products/create">Create New Products</a>
<div class="d-inline-flex flex-row">
    <form action="/admin/products/index">
        @Html.Label("Search", new { @class = "mr-1" })
        @Html.TextBox("Search", ViewBag.search as string, new { @class = "form-control mr-1", placeholder="Search" })
        <button type="submit" class="btn btn-primary">Find</button>
    </form>
</div>


<table class="table">
    <tr class="table-secondary">
        <th style="width:10%">
            Photo
        </th>

        <th style="width:10%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/admin/products/index?SortColumn=ProductID&IconClass=fa-sort-asc">Product ID</a>
                if (ViewBag.SortColumn == "ProductID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/admin/products/index?SortColumn=ProductID&IconClass=fa-sort-desc">Product ID</a>
                if (ViewBag.SortColumn == "ProductID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th style="width:20%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/admin/products/index?SortColumn=ProductName&IconClass=fa-sort-asc">Product Name</a>
                if (ViewBag.SortColumn == "ProductName")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/admin/products/index?SortColumn=ProductName&IconClass=fa-sort-desc">Product Name</a>
                if (ViewBag.SortColumn == "ProductName")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th style="width:10%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/admin/products/index?SortColumn=Price&IconClass=fa-sort-asc">Price</a>
                if (ViewBag.SortColumn == "Price")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/admin/products/index?SortColumn=Price&IconClass=fa-sort-desc">Price</a>
                if (ViewBag.SortColumn == "Price")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th style="width:10%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/admin/products/index?SortColumn=DateOfPurchase&IconClass=fa-sort-asc">Date of Purchase</a>
                if (ViewBag.SortColumn == "DateOfPurchase")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/admin/products/index?SortColumn=DateOfPurchase&IconClass=fa-sort-desc">Date of Purchase</a>
                if (ViewBag.SortColumn == "DateOfPurchase")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th style="width:10%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/admin/products/index?SortColumn=AvailabilityStatus&IconClass=fa-sort-asc">Availability Status</a>
                if (ViewBag.SortColumn == "AvailabilityStatus")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/admin/products/index?SortColumn=AvailabilityStatus&IconClass=fa-sort-desc">Availability Status</a>
                if (ViewBag.SortColumn == "AvailabilityStatus")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th style="width:5%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/admin/products/index?SortColumn=CategoryID&IconClass=fa-sort-asc">Category</a>
                if (ViewBag.SortColumn == "CategoryID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/admin/products/index?SortColumn=CategoryID&IconClass=fa-sort-desc">Category</a>
                if (ViewBag.SortColumn == "CategoryID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th style="width:5%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/admin/products/index?SortColumn=BrandID&IconClass=fa-sort-asc">Brand</a>
                if (ViewBag.SortColumn == "BrandID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/admin/products/index?SortColumn=BrandID&IconClass=fa-sort-desc">Brand</a>
                if (ViewBag.SortColumn == "BrandID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th style="width:5%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/admin/products/index?SortColumn=Active&IconClass=fa-sort-asc">Active</a>
                if (ViewBag.SortColumn == "Active")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/admin/products/index?SortColumn=Active&IconClass=fa-sort-desc">Active</a>
                if (ViewBag.SortColumn == "Active")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th style="width:10%"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><img src="data:image;base64,@item.Photo" width="100px" /></td>
            <td>@Html.DisplayFor(temp => item.ProductID)</td>
            <td>@Html.DisplayFor(temp => item.ProductName)</td>
            <td>
            @if (item.Price.HasValue) 
            {
                <span>@item.Price.Value.ToString("C")</span>
            }
            </td>
            <td>
            @if (item.DateOfPurchase.HasValue) 
            {
                <span>@item.DateOfPurchase.Value.ToString("d/M/yyyy")</span>
            }
            </td>
            <td>@item.AvailabilityStatus</td>
            <td>
                @Html.DisplayFor(temp => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(temp => item.Brand.BrandName)
            </td>
            <td>@item.Active</td>
            <td>
                <a href="/admin/products/details/@item.ProductID">Details</a>
                <a href="/admin/products/edit/@item.ProductID">Edit</a>
                <a class=" btn btn-danger" href="/admin/products/delete/@item.ProductID">Delete</a>
            </td>
        </tr>
    }


</table>

